body {
	background-color: #eeeeee;
}

#nav, #jumbotron {
	text-align: center;
	color: black;
	background-color: white;
	box-shadow: 10px 10px 20px #37474f;
	border-radius: 20px;
	margin: 0 auto;
	max-width: 960px;
	width: 95%;
	padding: 20px;
	margin-top: 20px;
	margin-bottom: 20px;
}

h1, h2 {
	margin-bottom: 0px;
}

h2 {
	font-weight: bold;
}

#jumbotron {
	height: 500px;
	/*background-image: url("../images/us-map.jpg");*/
	background-repeat: no-repeat;
	background-position: 50% 20px;
	background-size: 60%;
}

#top-row {
	height: 50px;
}

#timer {
	height: 50px;
	margin: 0 auto;
	text-align: center;
}

#main-game-panel {
	height: 255px;
	text-align: center;
}

#start-form {
	margin-bottom: 0px;
}

label.form-header {
	font-size: 24px;
	margin-top: 15px;
	margin-bottom: 5px;
}

#state {
	margin-bottom: 10px;
}

#bottom-row {
	height: 50px;
}

#start-button, #replay-button, #reset-button, .answer{
	margin: 0 auto;
	width: 185px;
	box-shadow: 5px 5px 20px #37474f;
}

#start-button {
	margin-top: 20px;
	display: block;
}

#replay-button, #reset-button {
	display: none;
	margin-top: 10px;
}